<footer>
    <!-- <div id="links">
        <p><a href="/instruments">Instrumentos</a></p>
        <p><a href="/check-if-logued">Matricularse</a></p>
        <p><a href="">Política de privacidad</a></p>
    </div> -->
    <!-- <div id="social">
        <div id="facebook"></div>
        <div id="instragram"></div>
        <div id="twitter"></div>
    </div> -->
    <div id="copyright">
        <p>Copyright &#169 2022 by Todo Música.</p>
    </div>
</footer>