<nav id="nav-login" class="navbar navbar-expand-lg navbar-light bg-light" style="display:none">
    <a class="navbar-brand" href="/"><img id="logo" src="../img/logo.png"> </a>
</nav>

<nav id="nav-logout" class="navbar navbar-expand-lg navbar-light bg-light" style="display:none">
    <a class="navbar-brand" href="/"><img id="logo" src="../img/logo.png"> </a>
    <a onclick="logoutAdmin()">Logout</a>
</nav>