<nav id="nav-login" class="navbar navbar-expand-lg navbar-light bg-light" style="display:none">
    <div><a class="navbar-brand" href="/"><img id="logo" src="../img/logo.png"></a></div>
    <div><a href="/login" ><img src="../img/user.png"></a></div>
</nav>