<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Música</title>
    <link rel="stylesheet" href="../css/instrumentos.css" />
</head>

<body>
    <div id="container">
        <h1 class="categorias">Nuestras categorías</h1>
        <div id="instrumentos">
            <button id="guitarras_electricas" class="instrumentos"><img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/124838.jpg"> <p>Guitarras eléctricas</p> </button>
            <button id="guitarras_clasicas" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/130179.jpg"> <p>Guitarras clásicas</p></button>
            <button id="bajos_electricos" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/264956.jpg"> <p>Bajos eléctricos</p> </button>
            <button id="instrumentos_de_teclas" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/352258.jpg"> <p>Instrumentos de teclas</p></button>
            <button id="instrumentos_de_arco" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/165069.jpg"> <p>Instrumentos de arco</p></button>
            <button id="saxofones" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/188679.jpg"> <p>Saxofones</p></button>
            <button id="trompetas" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/152571.jpg"> <p>Trompetas</p></button>
            <button id="trombones" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/288562.jpg"> <p>Trombones</p> </button>
            <button id="amplificadores_de_guitarra_electrica" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/429320.jpg"> <p>Amplificadores de <br> guitarra eléctrica</p></button>
            <button id="drums_acusticos" class="instrumentos"> <img src="https://th.static-thomann.de/thumb//thumb250x250/pics/prod/327902.jpg"> <p>Baterías acústicas</p></button>
        </div>
        <div id="contenedor_instrumentos">

        </div>
    </div>
    <script src="./scripts/instrumentos.js"></script>
</body>

</html>