body {
    background-color: #f3f3f3;
}

form {
    padding: 20px;
}

form div {
    margin-bottom:15px;
    display: flex;
    flex-direction: column;
}

form button {
    width: 100%;
}

#instrumentos {
    display: flex;
    flex-direction: column;
}

h1#categorias {
    display: flex;
    justify-content: space-around;
}

button.instrumentos img{
    width: 30%;
    margin-left: 5%;
}

#guitarras_electricas {
    border-top: 0.25px solid rgba(128, 128, 128, 0.649);
}

button.instrumentos {
    display: flex;
    background-color: white;
    border: none;
    border-bottom: 0.25px solid rgba(128, 128, 128, 0.649);
}

button.instrumentos p{
    margin-left: 15%;
    padding-top: 8%;
}

div#contenedor_instrumentos img {
    width: 30%;
    margin-left: 5%;
}

div#contenedor_instrumentos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

span {
    font-weight: 500;
}

div.instrumento_comprar {
    background-color: white;
    padding: 8px;
    margin: 8px 8px;
    border-radius: 6px;
    display: flex;
}

button.compra {
    font-size: 13px;
    padding: 4px;
    margin-left: 10px;
}

div.div_datos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#grid_botones {
    display: grid;
    grid-template-columns: 80% 20%;
}