body {
    background-color: #f3f3f3;
}

#form-email{
    display: flex;
    justify-content: center;
}

/* #container {
    width: 20%;
    background-color: rgb(111, 107, 175);
    padding: 10px;
    border-radius: 10px;
} */

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

#cont-body {
    display       : flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:black
}

p{
    margin-bottom:3px;
}

